<div class="navbar">
  <div class="navbar-inner">
    <%= link_to "Home", root_path, class: 'brand' %>
    <ul class="nav">
      <li class="active"><%= link_to "#{current_user.name}", user_path(current_user) %></li>
      <li><%= link_to "#{team_users.first.name}", user_path(team_users.first) %></li>
      <li><%= link_to "#{team_users.last.name}", user_path(team_users.last) %></li>
    </ul>
  </div>
</div>